.calendar .title{
    width: 198px;
	height: 74px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(55, 68, 74, 0.85);
	font-size: 38px;
	line-height: 150%;
	text-align: center;
	font-weight: bold;
}


.calendar .cardbox{
    display: grid;
    margin-bottom: 25px;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 413px;
    grid-row-gap: 79px;
    grid-column-gap: 105px;
    justify-content: center;

}

.calendar .cardbox .card{
    position: relative;
    height: 413px;
    width: 240px;
    border: rgba(166, 166, 166, 1) solid 1px;
    background-color: white;
}

.calendar .cardbox .card .pic{
    height: 215px;
    width: 100%;
    background-color: skyblue;
}
.calendar .cardbox .card .detail{
    padding: 44px 15px 20px;
    color: rgba(80, 80, 80, 1);
	font-size: 11px;
	line-height: 150%;
	text-align: left;
}

.calendar .cardbox .card .date{
    position: absolute;
    left:6px;
    top:184px;
    width: 45px;
    height: 63px;
    color: white;
    font-size: 15px;
	line-height: 32px;
	text-align: center;
	font-weight: bold;
    background-color: rgba(56, 56, 56, 1);
}

.calendar .more{
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    width: 433px;
	height: 55px;
	left: 614px;
	top: 480px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(30, 118, 155, 0.85);
	box-shadow: rgba(204, 204, 204, 1) solid 1px;
	font-size: 21px;
	line-height: 55px;
	text-align: center;
}

.review .title{
    width: 298px;
	height: 74px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
	color: rgba(55, 68, 74, 0.85);
	font-size: 38px;
	line-height: 74px;
	text-align: center;
	font-weight: bold;
}

.review .cardbox{
    display: grid;
    margin-bottom: 25px;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 291px;
    grid-row-gap: 79px;
    grid-column-gap: 105px;
    justify-content: center;
    margin-top: 45px;
}

.review .cardbox .card{
    position: relative;
    height: 291px;
    width: 240px;
    background-color: white;
    border: rgba(166, 166, 166, 1) solid 1px;
}

.review .cardbox .card .pic{
    height: 244px;
    background-color: skyblue;
}

.review .cardbox .card .name{
    position: absolute;
    width: 119px;
	height: 30px;
    color: rgba(80, 80, 80, 1);
	font-size: 15px;
	line-height: 150%;
	text-align: left;
	font-weight: bold;
    top: 198px;
    left: 56px;
}


.review .more{
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
    width: 433px;
	height: 55px;
	left: 614px;
	top: 480px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(30, 118, 155, 0.85);
	box-shadow: rgba(204, 204, 204, 1) solid 1px;
	font-size: 21px;
	line-height: 55px;
	text-align: center;
}