p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt,body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #666666;
    list-style: none;
}
.header{
    width: 100%;
    height: 230px;
    min-width:2000px;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(30, 118, 155, 0.7);
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    z-index: -11;
}
.logo{
    width: 210px;
    height: 210px;
    position:relative;
    left: 18px;
    float: left;
    top: 25px;
    z-index: 1;
}

.logostyle{
    width: 210px;
    height: 297px;
    margin-left: 0;
    margin-top: -43px;
}

.text1{
    width: 354px;
    height: 107px;
    position: relative;
    float: left;
    left: 9px;
    top: 65px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(17, 63, 61, 0);
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    font-weight: bold;
}

.text2{
    width: 356px;
    height: 236px;
    position:relative;
    float: right;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 236px;  /*lineheight与文本框height一样就可以文字居中*/
    text-align: center;
    font-weight: bold;
    transition: all 1.5s;
}

.text2:hover{
    width: 356px;
    height: 246px;
    position:relative;
    float: right;
    background-color: #018383;
    color: rgb(255, 252, 252);
    font-size: 40px;
    line-height: 236px;
    text-align: center;
    font-weight: bold;
}

.text3{
    width: 356px;
    height: 236px;
    position:relative;
    float: right;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 236px;
    text-align: center;
    font-weight: bold;
    transition: all 1.5s;
}

.text3:hover{
    width: 356px;
    height: 246px;
    position:relative;
    float: right;
    background-color: #018383;
    color: rgb(255, 252, 252);
    font-size: 40px;
    line-height: 236px;
    text-align: center;
    font-weight: bold;
}

.text4{
    width: 356px;
    height: 236px;
    position:relative;
    float: right;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 236px;
    text-align: center;
    font-weight: bold;
    transition: all 1.5s;
}

.text4:hover{
    width: 356px;
    height: 246px;
    position:relative;
    float: right;
    background-color: #018383;
    color: rgb(255, 252, 252);
    font-size: 40px;
    line-height: 236px;
    text-align: center;
    font-weight: bold;
}

/*body部分*/
.image1{
    width: 936px;
    height: 239px;
    position: relative;
    margin: 39px auto 0;
}
.image1p{
    object-fit:contain;
    /*
    fill（不保持纵横比缩放图片，使图片完全适应）
    contain（保持纵横比缩放图片，使图片的长边能完全显示出来）
    cover（保持纵横比缩放图片，只保证图片的短边能完全显示出来）
    none（保持图片宽高不变）
    scale-down（当图片实际宽高小于所设置的图片宽高时，显示效果与none一致；否则，显示效果与contain一致）
    inherit
    initial
    unset
    */
}

.textbox1{
    width:936px;
    height:31px;
    margin:0px auto 0px;
}
.bdtext1{
    width: 107px;
    height: 30px;
    margin:0 0 0 28px;
    float:left;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(2, 2, 2);
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    font-weight: bold;
}
.bdtext1:hover{
    width: 107px;
    height: 30px;
    margin:0 0 0 28px;
    float:left;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 145, 0, 1);
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
}
.bdtext2{
    width: 107px;
    height: 30px;
    float: left;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 145, 0, 1);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.bdtext2:hover{
    width: 107px;
    height: 30px;
    float: left;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 145, 0, 1);
    line-height: 150%;border: 4px none #504b4b;    /*边框单边显示也可border-right：none等等*/
    border-bottom-style: solid;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
}

.textbox2{
    width: 936px;
    height: 62px;
    margin: 30px auto 0;
}
.image2{
    width: 112px;
    height: 62px;
    float: left;
}
.image2p{
    object-fit: cover;
}
.bdtext3{
    width: 123px;
    height: 43px;
    float: left;
    position: relative;
    left: 12px;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    line-height: 150%;
    text-align: left;
    font-weight: bold;
}
.decoration{
    width: 123px;
    height: 7px;
    float: left;
    position: relative;
    top: 55px;
    left: -111px;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(255, 145, 0, 1);
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}
/*eight的表单*/
.textbox3{
    width: 936px;
    height: 520px;
    margin:13px auto 0;
}
#table{
    width: 638px;
    height: 502px;
    float: left;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 1);
    border: rgba(198, 198, 198, 1) solid 1px;
    border-collapse:collapse;
}
#table td, #table th
{
    font-size:1em;
    border:1px solid #e7eae3;
    padding:3px 7px 2px 7px;
    width: 128px;
    height: 46px;
}
#table tr td:nth-child(1)
{
    background-color: rgb(166, 161, 161);
    border: none;
}


.showimg{
    width: 247px;
    height: 330px;
    float: right;
}
.showimgp{
    object-fit:cover;
}

/*底部导航栏*/
.footer{
    width: 100%;
    height: 283px;
    position: absolute;
    top: 2429px;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(30, 118, 155, 0.7);
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.ftbox{
    width: 543px;
    height: 146px;
    position: relative;
    top: 52px;
    left: 50%;
    margin-left: -272px;/*这里对应width，如此实现居中*/
    margin-right: 0;
}
.ftlogo{
    position: relative;
    float: left;
    width: 146px;
    height: 146px;
    overflow: hidden;
    line-height: 0;
}
.ftlogo1{
    width: 146px;
    height: 207px;
    margin-left: 0;
    margin-top: -30px;
}
.fttext1{
    width: 354px;
    height: 107px;
    float: right;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(17, 63, 61, 0);
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    font-weight: bold;
}
.ftimage{
    position: relative;
    float: right;
    right: 72px;
    top: -124px;
    width: 181px;
    height: 180px;
    object-fit:contain;
}
.fttext2{
    width: 361px;
    height: 21px;
    position: absolute;
    left: 76px;
    top: 215px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    font-weight: bold;
}
.fttext3{
    width: 361px;
    height: 21px;
    position: absolute;
    left: 449px;
    top: 215px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    font-weight: bold;
}
.fttext4{
    width: 361px;
    height: 21px;
    position: absolute;
    left: 810px;
    top: 215px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    font-weight: bold;
}
.fttext5{
    width: 361px;
    height: 21px;
    position: absolute;
    left: 1156px;
    top: 215px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    font-weight: bold;
}